=begin
#Amos Pay API

#Amos Pay API spec

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Amos
  class ExternalAccountsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an external account
    # @param create_external_account_request [CreateExternalAccountRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ExternalAccount]
    def create_external_account(create_external_account_request, opts = {})
      data, _status_code, _headers = create_external_account_with_http_info(create_external_account_request, opts)
      data
    end

    # Create an external account
    # @param create_external_account_request [CreateExternalAccountRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExternalAccount, Integer, Hash)>] ExternalAccount data, response status code and response headers
    def create_external_account_with_http_info(create_external_account_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExternalAccountsApi.create_external_account ...'
      end
      # verify the required parameter 'create_external_account_request' is set
      if @api_client.config.client_side_validation && create_external_account_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_external_account_request' when calling ExternalAccountsApi.create_external_account"
      end
      # resource path
      local_var_path = '/external_accounts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_external_account_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ExternalAccount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ExternalAccountsApi.create_external_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExternalAccountsApi#create_external_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve an external account by ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ExternalAccount]
    def get_external_account(id, opts = {})
      data, _status_code, _headers = get_external_account_with_http_info(id, opts)
      data
    end

    # Retrieve an external account by ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExternalAccount, Integer, Hash)>] ExternalAccount data, response status code and response headers
    def get_external_account_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExternalAccountsApi.get_external_account ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ExternalAccountsApi.get_external_account"
      end
      # resource path
      local_var_path = '/external_accounts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExternalAccount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ExternalAccountsApi.get_external_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExternalAccountsApi#get_external_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all external accounts
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of results to retrieve.
    # @option opts [Integer] :per_page Number of results per page.
    # @return [ListExternalAccounts]
    def list_external_accounts(opts = {})
      data, _status_code, _headers = list_external_accounts_with_http_info(opts)
      data
    end

    # List all external accounts
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of results to retrieve.
    # @option opts [Integer] :per_page Number of results per page.
    # @return [Array<(ListExternalAccounts, Integer, Hash)>] ListExternalAccounts data, response status code and response headers
    def list_external_accounts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExternalAccountsApi.list_external_accounts ...'
      end
      # resource path
      local_var_path = '/external_accounts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListExternalAccounts'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ExternalAccountsApi.list_external_accounts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExternalAccountsApi#list_external_accounts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
