=begin
#Amos Pay API

#Amos Pay API spec

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Amos
  class LegalEntityPrincipalsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieve a legal entity principal by ID
    # @param id [String] The ID of the legal entity principal to retrieve
    # @param [Hash] opts the optional parameters
    # @return [LegalEntityPrincipal]
    def get_legal_entity_principal(id, opts = {})
      data, _status_code, _headers = get_legal_entity_principal_with_http_info(id, opts)
      data
    end

    # Retrieve a legal entity principal by ID
    # @param id [String] The ID of the legal entity principal to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(LegalEntityPrincipal, Integer, Hash)>] LegalEntityPrincipal data, response status code and response headers
    def get_legal_entity_principal_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LegalEntityPrincipalsApi.get_legal_entity_principal ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LegalEntityPrincipalsApi.get_legal_entity_principal"
      end
      # resource path
      local_var_path = '/legal_entity_principals/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LegalEntityPrincipal'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"LegalEntityPrincipalsApi.get_legal_entity_principal",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LegalEntityPrincipalsApi#get_legal_entity_principal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all legal entity principals
    # @param legal_entity_id [String] The ID of the legal_entity
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of results to retrieve.
    # @option opts [Integer] :per_page Number of results per page.
    # @return [ListLegalEntityPrincipals]
    def list_legal_entity_principals(legal_entity_id, opts = {})
      data, _status_code, _headers = list_legal_entity_principals_with_http_info(legal_entity_id, opts)
      data
    end

    # List all legal entity principals
    # @param legal_entity_id [String] The ID of the legal_entity
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of results to retrieve.
    # @option opts [Integer] :per_page Number of results per page.
    # @return [Array<(ListLegalEntityPrincipals, Integer, Hash)>] ListLegalEntityPrincipals data, response status code and response headers
    def list_legal_entity_principals_with_http_info(legal_entity_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LegalEntityPrincipalsApi.list_legal_entity_principals ...'
      end
      # verify the required parameter 'legal_entity_id' is set
      if @api_client.config.client_side_validation && legal_entity_id.nil?
        fail ArgumentError, "Missing the required parameter 'legal_entity_id' when calling LegalEntityPrincipalsApi.list_legal_entity_principals"
      end
      # resource path
      local_var_path = '/legal_entity_principals'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'legal_entity_id'] = legal_entity_id
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListLegalEntityPrincipals'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"LegalEntityPrincipalsApi.list_legal_entity_principals",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LegalEntityPrincipalsApi#list_legal_entity_principals\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
