=begin
#Amos Pay API

#Amos Pay API spec

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0
=end

require 'cgi'

module Amos
  class LegalEntityApplicationPrincipalsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a legal entity application principal
    # @param create_legal_entity_application_principal_request [CreateLegalEntityApplicationPrincipalRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LegalEntityApplicationPrincipal]
    def create_legal_entity_application_principal(create_legal_entity_application_principal_request, opts = {})
      data, _status_code, _headers = create_legal_entity_application_principal_with_http_info(create_legal_entity_application_principal_request, opts)
      data
    end

    # Create a legal entity application principal
    # @param create_legal_entity_application_principal_request [CreateLegalEntityApplicationPrincipalRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LegalEntityApplicationPrincipal, Integer, Hash)>] LegalEntityApplicationPrincipal data, response status code and response headers
    def create_legal_entity_application_principal_with_http_info(create_legal_entity_application_principal_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LegalEntityApplicationPrincipalsApi.create_legal_entity_application_principal ...'
      end
      # verify the required parameter 'create_legal_entity_application_principal_request' is set
      if @api_client.config.client_side_validation && create_legal_entity_application_principal_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_legal_entity_application_principal_request' when calling LegalEntityApplicationPrincipalsApi.create_legal_entity_application_principal"
      end
      # resource path
      local_var_path = '/legal_entity_application_principals'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_legal_entity_application_principal_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LegalEntityApplicationPrincipal'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"LegalEntityApplicationPrincipalsApi.create_legal_entity_application_principal",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LegalEntityApplicationPrincipalsApi#create_legal_entity_application_principal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a legal entity application principal by ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [LegalEntityApplicationPrincipal]
    def get_legal_entity_application_principal(id, opts = {})
      data, _status_code, _headers = get_legal_entity_application_principal_with_http_info(id, opts)
      data
    end

    # Retrieve a legal entity application principal by ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LegalEntityApplicationPrincipal, Integer, Hash)>] LegalEntityApplicationPrincipal data, response status code and response headers
    def get_legal_entity_application_principal_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LegalEntityApplicationPrincipalsApi.get_legal_entity_application_principal ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LegalEntityApplicationPrincipalsApi.get_legal_entity_application_principal"
      end
      # resource path
      local_var_path = '/legal_entity_application_principals/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LegalEntityApplicationPrincipal'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"LegalEntityApplicationPrincipalsApi.get_legal_entity_application_principal",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LegalEntityApplicationPrincipalsApi#get_legal_entity_application_principal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
