=begin
#Amos Pay API

#Amos Pay API spec

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Amos
  class PayoutsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk create payouts
    # @param create_bulk_payouts_request [CreateBulkPayoutsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BulkCreatePayouts]
    def bulk_create_payouts(create_bulk_payouts_request, opts = {})
      data, _status_code, _headers = bulk_create_payouts_with_http_info(create_bulk_payouts_request, opts)
      data
    end

    # Bulk create payouts
    # @param create_bulk_payouts_request [CreateBulkPayoutsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BulkCreatePayouts, Integer, Hash)>] BulkCreatePayouts data, response status code and response headers
    def bulk_create_payouts_with_http_info(create_bulk_payouts_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayoutsApi.bulk_create_payouts ...'
      end
      # verify the required parameter 'create_bulk_payouts_request' is set
      if @api_client.config.client_side_validation && create_bulk_payouts_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_bulk_payouts_request' when calling PayoutsApi.bulk_create_payouts"
      end
      # resource path
      local_var_path = '/payouts/bulk_create'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_bulk_payouts_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BulkCreatePayouts'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PayoutsApi.bulk_create_payouts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayoutsApi#bulk_create_payouts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a payout
    # @param create_payout_request [CreatePayoutRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_idempotency_key 
    # @return [Payout]
    def create_payout(create_payout_request, opts = {})
      data, _status_code, _headers = create_payout_with_http_info(create_payout_request, opts)
      data
    end

    # Create a payout
    # @param create_payout_request [CreatePayoutRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_idempotency_key 
    # @return [Array<(Payout, Integer, Hash)>] Payout data, response status code and response headers
    def create_payout_with_http_info(create_payout_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayoutsApi.create_payout ...'
      end
      # verify the required parameter 'create_payout_request' is set
      if @api_client.config.client_side_validation && create_payout_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_payout_request' when calling PayoutsApi.create_payout"
      end
      # resource path
      local_var_path = '/payouts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end
      header_params[:'X-Idempotency-Key'] = opts[:'x_idempotency_key'] if !opts[:'x_idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_payout_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Payout'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PayoutsApi.create_payout",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayoutsApi#create_payout\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a payout by ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Payout]
    def get_payout(id, opts = {})
      data, _status_code, _headers = get_payout_with_http_info(id, opts)
      data
    end

    # Retrieve a payout by ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Payout, Integer, Hash)>] Payout data, response status code and response headers
    def get_payout_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayoutsApi.get_payout ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PayoutsApi.get_payout"
      end
      # resource path
      local_var_path = '/payouts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Payout'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PayoutsApi.get_payout",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayoutsApi#get_payout\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all payouts
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of results to retrieve.
    # @option opts [Integer] :per_page Number of results per page.
    # @option opts [String] :external_account_id The external account ID to filter by
    # @option opts [PayoutDirectionType] :direction The payout direction to filter by
    # @option opts [PayoutStateType] :state The payout state to filter by
    # @return [ListPayouts]
    def list_payouts(opts = {})
      data, _status_code, _headers = list_payouts_with_http_info(opts)
      data
    end

    # List all payouts
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of results to retrieve.
    # @option opts [Integer] :per_page Number of results per page.
    # @option opts [String] :external_account_id The external account ID to filter by
    # @option opts [PayoutDirectionType] :direction The payout direction to filter by
    # @option opts [PayoutStateType] :state The payout state to filter by
    # @return [Array<(ListPayouts, Integer, Hash)>] ListPayouts data, response status code and response headers
    def list_payouts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayoutsApi.list_payouts ...'
      end
      # resource path
      local_var_path = '/payouts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'external_account_id'] = opts[:'external_account_id'] if !opts[:'external_account_id'].nil?
      query_params[:'direction'] = opts[:'direction'] if !opts[:'direction'].nil?
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListPayouts'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"PayoutsApi.list_payouts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayoutsApi#list_payouts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
