=begin
#Amos Pay API

#Amos Pay API spec

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Amos
  class RefundsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel a refund
    # @param id [String] The ID of the refund to cancel.
    # @param [Hash] opts the optional parameters
    # @return [Refund]
    def cancel_refund(id, opts = {})
      data, _status_code, _headers = cancel_refund_with_http_info(id, opts)
      data
    end

    # Cancel a refund
    # @param id [String] The ID of the refund to cancel.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Refund, Integer, Hash)>] Refund data, response status code and response headers
    def cancel_refund_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RefundsApi.cancel_refund ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RefundsApi.cancel_refund"
      end
      # resource path
      local_var_path = '/refunds/{id}/cancel'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Refund'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"RefundsApi.cancel_refund",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RefundsApi#cancel_refund\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a refund
    # @param create_refund_request [CreateRefundRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_idempotency_key 
    # @return [Refund]
    def create_refund(create_refund_request, opts = {})
      data, _status_code, _headers = create_refund_with_http_info(create_refund_request, opts)
      data
    end

    # Create a refund
    # @param create_refund_request [CreateRefundRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_idempotency_key 
    # @return [Array<(Refund, Integer, Hash)>] Refund data, response status code and response headers
    def create_refund_with_http_info(create_refund_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RefundsApi.create_refund ...'
      end
      # verify the required parameter 'create_refund_request' is set
      if @api_client.config.client_side_validation && create_refund_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_refund_request' when calling RefundsApi.create_refund"
      end
      # resource path
      local_var_path = '/refunds'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end
      header_params[:'X-Idempotency-Key'] = opts[:'x_idempotency_key'] if !opts[:'x_idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_refund_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Refund'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"RefundsApi.create_refund",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RefundsApi#create_refund\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a refund by ID
    # @param id [String] The ID of the refund to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Refund]
    def get_refund(id, opts = {})
      data, _status_code, _headers = get_refund_with_http_info(id, opts)
      data
    end

    # Retrieve a refund by ID
    # @param id [String] The ID of the refund to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(Refund, Integer, Hash)>] Refund data, response status code and response headers
    def get_refund_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RefundsApi.get_refund ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RefundsApi.get_refund"
      end
      # resource path
      local_var_path = '/refunds/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Refund'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"RefundsApi.get_refund",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RefundsApi#get_refund\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all refunds
    # @param customer_id [String] The ID of the customer to filter by
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of results to retrieve.
    # @option opts [Integer] :per_page Number of results per page.
    # @option opts [String] :parent_transaction_id The ID of the original transaction to filter by
    # @return [ListRefunds]
    def list_refunds(customer_id, opts = {})
      data, _status_code, _headers = list_refunds_with_http_info(customer_id, opts)
      data
    end

    # List all refunds
    # @param customer_id [String] The ID of the customer to filter by
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of results to retrieve.
    # @option opts [Integer] :per_page Number of results per page.
    # @option opts [String] :parent_transaction_id The ID of the original transaction to filter by
    # @return [Array<(ListRefunds, Integer, Hash)>] ListRefunds data, response status code and response headers
    def list_refunds_with_http_info(customer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RefundsApi.list_refunds ...'
      end
      # verify the required parameter 'customer_id' is set
      if @api_client.config.client_side_validation && customer_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_id' when calling RefundsApi.list_refunds"
      end
      # resource path
      local_var_path = '/refunds'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'customer_id'] = customer_id
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'parent_transaction_id'] = opts[:'parent_transaction_id'] if !opts[:'parent_transaction_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListRefunds'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"RefundsApi.list_refunds",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RefundsApi#list_refunds\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a refund
    # @param id [String] The ID of the refund to update
    # @param update_refund_request [UpdateRefundRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Refund]
    def update_refund(id, update_refund_request, opts = {})
      data, _status_code, _headers = update_refund_with_http_info(id, update_refund_request, opts)
      data
    end

    # Update a refund
    # @param id [String] The ID of the refund to update
    # @param update_refund_request [UpdateRefundRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Refund, Integer, Hash)>] Refund data, response status code and response headers
    def update_refund_with_http_info(id, update_refund_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RefundsApi.update_refund ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RefundsApi.update_refund"
      end
      # verify the required parameter 'update_refund_request' is set
      if @api_client.config.client_side_validation && update_refund_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_refund_request' when calling RefundsApi.update_refund"
      end
      # resource path
      local_var_path = '/refunds/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_refund_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Refund'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"RefundsApi.update_refund",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RefundsApi#update_refund\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
