=begin
#Amos Pay API

#Amos Pay API spec

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Amos
  class RenderTemplatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new render template
    # @param create_render_template_request [CreateRenderTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RenderTemplate]
    def create_render_template(create_render_template_request, opts = {})
      data, _status_code, _headers = create_render_template_with_http_info(create_render_template_request, opts)
      data
    end

    # Create a new render template
    # @param create_render_template_request [CreateRenderTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RenderTemplate, Integer, Hash)>] RenderTemplate data, response status code and response headers
    def create_render_template_with_http_info(create_render_template_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RenderTemplatesApi.create_render_template ...'
      end
      # verify the required parameter 'create_render_template_request' is set
      if @api_client.config.client_side_validation && create_render_template_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_render_template_request' when calling RenderTemplatesApi.create_render_template"
      end
      # resource path
      local_var_path = '/render_templates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_render_template_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RenderTemplate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"RenderTemplatesApi.create_render_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RenderTemplatesApi#create_render_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a render token for render template
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RenderToken]
    def create_render_token(id, opts = {})
      data, _status_code, _headers = create_render_token_with_http_info(id, opts)
      data
    end

    # Create a render token for render template
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RenderToken, Integer, Hash)>] RenderToken data, response status code and response headers
    def create_render_token_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RenderTemplatesApi.create_render_token ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RenderTemplatesApi.create_render_token"
      end
      # resource path
      local_var_path = '/render_templates/{id}/token'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RenderToken'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"RenderTemplatesApi.create_render_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RenderTemplatesApi#create_render_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a render template by ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RenderTemplate]
    def get_render_template(id, opts = {})
      data, _status_code, _headers = get_render_template_with_http_info(id, opts)
      data
    end

    # Retrieve a render template by ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RenderTemplate, Integer, Hash)>] RenderTemplate data, response status code and response headers
    def get_render_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RenderTemplatesApi.get_render_template ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RenderTemplatesApi.get_render_template"
      end
      # resource path
      local_var_path = '/render_templates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RenderTemplate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"RenderTemplatesApi.get_render_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RenderTemplatesApi#get_render_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all render templates
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of results to retrieve.
    # @option opts [Integer] :per_page Number of results per page.
    # @option opts [String] :account_id 
    # @return [ListRenderTemplates]
    def list_render_templates(opts = {})
      data, _status_code, _headers = list_render_templates_with_http_info(opts)
      data
    end

    # List all render templates
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of results to retrieve.
    # @option opts [Integer] :per_page Number of results per page.
    # @option opts [String] :account_id 
    # @return [Array<(ListRenderTemplates, Integer, Hash)>] ListRenderTemplates data, response status code and response headers
    def list_render_templates_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RenderTemplatesApi.list_render_templates ...'
      end
      # resource path
      local_var_path = '/render_templates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'account_id'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListRenderTemplates'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"RenderTemplatesApi.list_render_templates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RenderTemplatesApi#list_render_templates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
