=begin
#Amos Pay API

#Amos Pay API spec

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Amos
  class SetupIntentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Confirm a setup intent
    # @param id [String] The ID of the setup intent to confirm
    # @param confirm_setup_intent_request [ConfirmSetupIntentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SetupIntent]
    def confirm_setup_intent(id, confirm_setup_intent_request, opts = {})
      data, _status_code, _headers = confirm_setup_intent_with_http_info(id, confirm_setup_intent_request, opts)
      data
    end

    # Confirm a setup intent
    # @param id [String] The ID of the setup intent to confirm
    # @param confirm_setup_intent_request [ConfirmSetupIntentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SetupIntent, Integer, Hash)>] SetupIntent data, response status code and response headers
    def confirm_setup_intent_with_http_info(id, confirm_setup_intent_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SetupIntentsApi.confirm_setup_intent ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SetupIntentsApi.confirm_setup_intent"
      end
      # verify the required parameter 'confirm_setup_intent_request' is set
      if @api_client.config.client_side_validation && confirm_setup_intent_request.nil?
        fail ArgumentError, "Missing the required parameter 'confirm_setup_intent_request' when calling SetupIntentsApi.confirm_setup_intent"
      end
      # resource path
      local_var_path = '/embed/setup_intents/{id}/confirm'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(confirm_setup_intent_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SetupIntent'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Embed']

      new_options = opts.merge(
        :operation => :"SetupIntentsApi.confirm_setup_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SetupIntentsApi#confirm_setup_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new setup intent
    # @param create_setup_intent_request [CreateSetupIntentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EmbedToken]
    def create_setup_intent(create_setup_intent_request, opts = {})
      data, _status_code, _headers = create_setup_intent_with_http_info(create_setup_intent_request, opts)
      data
    end

    # Create a new setup intent
    # @param create_setup_intent_request [CreateSetupIntentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmbedToken, Integer, Hash)>] EmbedToken data, response status code and response headers
    def create_setup_intent_with_http_info(create_setup_intent_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SetupIntentsApi.create_setup_intent ...'
      end
      # verify the required parameter 'create_setup_intent_request' is set
      if @api_client.config.client_side_validation && create_setup_intent_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_setup_intent_request' when calling SetupIntentsApi.create_setup_intent"
      end
      # resource path
      local_var_path = '/setup_intents'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_setup_intent_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EmbedToken'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SetupIntentsApi.create_setup_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SetupIntentsApi#create_setup_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a setup intent by ID
    # @param id [String] The ID of the setup intent to retrieve
    # @param [Hash] opts the optional parameters
    # @return [SetupIntent]
    def get_setup_intent(id, opts = {})
      data, _status_code, _headers = get_setup_intent_with_http_info(id, opts)
      data
    end

    # Retrieve a setup intent by ID
    # @param id [String] The ID of the setup intent to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(SetupIntent, Integer, Hash)>] SetupIntent data, response status code and response headers
    def get_setup_intent_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SetupIntentsApi.get_setup_intent ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SetupIntentsApi.get_setup_intent"
      end
      # resource path
      local_var_path = '/embed/setup_intents/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SetupIntent'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Embed']

      new_options = opts.merge(
        :operation => :"SetupIntentsApi.get_setup_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SetupIntentsApi#get_setup_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
