=begin
#Amos Pay API

#Amos Pay API spec

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0
=end

require 'cgi'

module Amos
  class SubscriptionPlansApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new subscription plan
    # @param create_subscription_plan_request [CreateSubscriptionPlanRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SubscriptionPlan]
    def create_subscription_plan(create_subscription_plan_request, opts = {})
      data, _status_code, _headers = create_subscription_plan_with_http_info(create_subscription_plan_request, opts)
      data
    end

    # Create a new subscription plan
    # @param create_subscription_plan_request [CreateSubscriptionPlanRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriptionPlan, Integer, Hash)>] SubscriptionPlan data, response status code and response headers
    def create_subscription_plan_with_http_info(create_subscription_plan_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionPlansApi.create_subscription_plan ...'
      end
      # verify the required parameter 'create_subscription_plan_request' is set
      if @api_client.config.client_side_validation && create_subscription_plan_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_subscription_plan_request' when calling SubscriptionPlansApi.create_subscription_plan"
      end
      # resource path
      local_var_path = '/subscription_plans'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_subscription_plan_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriptionPlan'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriptionPlansApi.create_subscription_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionPlansApi#create_subscription_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a subscription plan by ID
    # @param id [String] The ID of the subscription plan to retrieve
    # @param [Hash] opts the optional parameters
    # @return [SubscriptionPlan]
    def get_subscription_plan(id, opts = {})
      data, _status_code, _headers = get_subscription_plan_with_http_info(id, opts)
      data
    end

    # Retrieve a subscription plan by ID
    # @param id [String] The ID of the subscription plan to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriptionPlan, Integer, Hash)>] SubscriptionPlan data, response status code and response headers
    def get_subscription_plan_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionPlansApi.get_subscription_plan ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SubscriptionPlansApi.get_subscription_plan"
      end
      # resource path
      local_var_path = '/subscription_plans/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriptionPlan'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriptionPlansApi.get_subscription_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionPlansApi#get_subscription_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all subscription plans
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of results to retrieve.
    # @option opts [Integer] :per_page Number of results per page.
    # @return [ListSubscriptionPlans]
    def list_subscription_plans(opts = {})
      data, _status_code, _headers = list_subscription_plans_with_http_info(opts)
      data
    end

    # List all subscription plans
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of results to retrieve.
    # @option opts [Integer] :per_page Number of results per page.
    # @return [Array<(ListSubscriptionPlans, Integer, Hash)>] ListSubscriptionPlans data, response status code and response headers
    def list_subscription_plans_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionPlansApi.list_subscription_plans ...'
      end
      # resource path
      local_var_path = '/subscription_plans'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListSubscriptionPlans'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriptionPlansApi.list_subscription_plans",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionPlansApi#list_subscription_plans\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
