=begin
#Amos Pay API

#Amos Pay API spec

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0
=end

require 'cgi'

module Amos
  class VoidsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a void
    # @param create_void_request [CreateVoidRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_idempotency_key 
    # @return [Void]
    def create_void(create_void_request, opts = {})
      data, _status_code, _headers = create_void_with_http_info(create_void_request, opts)
      data
    end

    # Create a void
    # @param create_void_request [CreateVoidRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_idempotency_key 
    # @return [Array<(Void, Integer, Hash)>] Void data, response status code and response headers
    def create_void_with_http_info(create_void_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoidsApi.create_void ...'
      end
      # verify the required parameter 'create_void_request' is set
      if @api_client.config.client_side_validation && create_void_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_void_request' when calling VoidsApi.create_void"
      end
      # resource path
      local_var_path = '/voids'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end
      header_params[:'X-Idempotency-Key'] = opts[:'x_idempotency_key'] if !opts[:'x_idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_void_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Void'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VoidsApi.create_void",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoidsApi#create_void\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a void by ID
    # @param id [String] The ID of the void to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Void]
    def get_void(id, opts = {})
      data, _status_code, _headers = get_void_with_http_info(id, opts)
      data
    end

    # Retrieve a void by ID
    # @param id [String] The ID of the void to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(Void, Integer, Hash)>] Void data, response status code and response headers
    def get_void_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoidsApi.get_void ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VoidsApi.get_void"
      end
      # resource path
      local_var_path = '/voids/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Void'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VoidsApi.get_void",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoidsApi#get_void\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all voids
    # @param customer_id [String] The ID of the customer to filter by
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of results to retrieve.
    # @option opts [Integer] :per_page Number of results per page.
    # @option opts [String] :parent_transaction_id The ID of the original transaction to filter by
    # @return [ListVoids]
    def list_voids(customer_id, opts = {})
      data, _status_code, _headers = list_voids_with_http_info(customer_id, opts)
      data
    end

    # List all voids
    # @param customer_id [String] The ID of the customer to filter by
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of results to retrieve.
    # @option opts [Integer] :per_page Number of results per page.
    # @option opts [String] :parent_transaction_id The ID of the original transaction to filter by
    # @return [Array<(ListVoids, Integer, Hash)>] ListVoids data, response status code and response headers
    def list_voids_with_http_info(customer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoidsApi.list_voids ...'
      end
      # verify the required parameter 'customer_id' is set
      if @api_client.config.client_side_validation && customer_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_id' when calling VoidsApi.list_voids"
      end
      # resource path
      local_var_path = '/voids'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'customer_id'] = customer_id
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'parent_transaction_id'] = opts[:'parent_transaction_id'] if !opts[:'parent_transaction_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListVoids'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VoidsApi.list_voids",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoidsApi#list_voids\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a void
    # @param id [String] The ID of the void to update
    # @param update_void_request [UpdateVoidRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Void]
    def update_void(id, update_void_request, opts = {})
      data, _status_code, _headers = update_void_with_http_info(id, update_void_request, opts)
      data
    end

    # Update a void
    # @param id [String] The ID of the void to update
    # @param update_void_request [UpdateVoidRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Void, Integer, Hash)>] Void data, response status code and response headers
    def update_void_with_http_info(id, update_void_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoidsApi.update_void ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VoidsApi.update_void"
      end
      # verify the required parameter 'update_void_request' is set
      if @api_client.config.client_side_validation && update_void_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_void_request' when calling VoidsApi.update_void"
      end
      # resource path
      local_var_path = '/voids/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_void_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Void'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"VoidsApi.update_void",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoidsApi#update_void\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
